$bg-color: #666666;
$fg-color-0: #e5c100;

// grid variables
$grid-columns: 12;
$grid-max-width: 90em;
 
 
// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    @include border-box;
}

html, body {
	background-color: $bg-color;
	background: url('extra_clean_paper.png');
	height: 100%;
}

.header {
	text-align:center;

	h1 {
		color: $fg-color-0;
		font-size: 4em;
	}

	h2 {
		font-size: 2em;
	}

	#info {
		padding-top: 20px;
		padding-bottom: 60px;
	}
}

p, .items {
	font-size: 20px;
}

.items > div{
	text-align: center;
}

#content {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -50px; 
    &:after {
        content: "";
        display: block;
    }
}

.footer {
	text-align:center;
    #content:after {
        height: 50px; 
    }
}

img {
    width: auto;
    max-width: 100%;
    height: auto !important; 
}   
 
.wrapper {
    width: 100%;
    margin: 0 auto;
}
 
.wrapper, .row {
    @extend %clearfix;
}
      
[class*='column-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px; 
}   
 
@media #{$breakpoint-medium} {
    .wrapper {      
        width: 95%;
        max-width: $grid-max-width;     
    }
    @for $i from 1 through $grid-columns {      
        .column-#{$i} {         
            width: 100% / $grid-columns * $i;   
        }           
    }   
}


input[type="submit"] {
	padding: 10px;
	border-radius: 5px;
	font-size: 1em;
	&:hover {
		border-style: inset;
	}
}

input[type="text"] {
	padding: 10px;
	font-size: 1em;
}